### Hard Vote Ensemble

In [2]:
import json

PATHS = [
  "./RESULTS/baselinev3-flan-t5-large/predictions.json",
  # "./RESULTS/chatgpt/prediction_chatgpt.json",
  "./RESULTS/baselinev4-flan-t5-text2sql-with-schema-v2/predictions.json"
]

In [3]:
import pandas as pd

df = pd.DataFrame(columns=["id"])
for idx, json_path in enumerate(PATHS):
  column_name = f"answer_{idx}"
  df[column_name] = None
  with open(json_path, "r") as f:
    data = json.load(f)
    if idx == 0: # initialize column
      df["id"] = list(data.keys())
    for key in data: # append data
      df.loc[df["id"] == key, column_name] = data[key]

df.head(10)

,id,answer_0,answer_1
0,d084d1f3c277e6827087bb44,null,null
1,a35a9346ab483d0db0f202ca,[['hemodialysis']],[['hemodialysis']]
2,144cd6f1acfad4416003c26c,"[['0.9% sodium chloride'], ['acetaminophen'], ...","[['0.9% sodium chloride'], ['acetaminophen'], ..."
3,b20d40188481222bfbb9b02f,[['2100-09-06 23:09:00']],[['2100-09-06 23:09:00']]
4,f5f185ff5f7901dc7c4dd711,[['pseudomonas aeruginosa']],[['pseudomonas aeruginosa']]
5,e6db613772003ec72d44ebe5,[['central venous catheter placement with guid...,[['central venous catheter placement with guid...
6,769ea1c5d6c42c47ac9a1735,[['0.0']],[['0.0']]
7,6730aa47b18b0105eb3dd8a2,"[['chest tube #1'], ['foley'], ['void']]","[['chest tube #1'], ['foley'], ['void']]"
8,9d0210cd4045e7f8e860ce69,null,null
9,ffc47b7e01463f229eb09bce,[['0.0']],[['0.0']]

In [4]:
# find rows that answer_0 != answer_1
print(df[df["answer_0"] != df["answer_1"]].shape)
df[df["answer_0"] != df["answer_1"]].head()

(180, 3)

,id,answer_0,answer_1
12,10f5ecdf9123785c95f2bff6,null,[]
24,97abc537c029974692f9c1af,null,[['0.0']]
27,04987dfc639773e714441af1,null,"[['0.9% sodium chloride'], ['bag'], ['furosemi..."
37,fcb5ab40c54f3bce352480bc,[['2100-03-23 15:34:00']],null
38,35e512cdebd0361326504768,[['2100-01-22 11:53:00']],[['2100-01-15 07:15:00']]

In [9]:
# iterrate over rows and check error_pred
for idx, row in df.iterrows():
  columns = list(row.keys())
  answer_columns = [col for col in columns if "answer" in col]
  answers = [row[col] for col in answer_columns]
  if "error_pred" in answers:
    print(row)

In [ ]:
# write t5 as new json file
path = "prediction_composite_v4.json"
zip_path = path.replace(".json", ".zip")
with open(path, "w") as f:
    json.dump(data_t5, f, indent=4)

!zip $zip_path $path